# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Sun Jan 07 21:33:22 CET 2018
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
updateTimeoutMilliseconds=1500
